@import "../bower_components/bootstrap/less/bootstrap";
@import "_variables_override";
@import "_parallax-scroll";

// layout
//
p {
  line-height: 1.8;
}

// decorative

.hr-decorative {
  border-color: @brand-secondary;
  margin-bottom: 40px;
  width: 100px;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 1px;
    background-color: @brand-secondary;
  }
}

// type
h2 {
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  line-height: 1.5;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 3;
}

// layout
//

// header
html,
body {
  height: 100%;
}

.header-bg {
  background-image: url(/img/enigma/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.header-content {
  display: table;
  height: 100%;
  width: 100%;
}

.header-content-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.site-title {
  height: 73px;
  overflow: hidden;
  text-indent: -10000px;
  background-image: url(/img/enigma/XENIA-TAY.png);
  background-repeat: no-repeat;
  background-size: 533px 73px;
  background-position: center;
}

// experience section
.page-experience {
  margin-bottom: 40px;
  height: 100%;
}

.experience-container {
  position: relative;
  height: 60%;
  background-repeat: repeat;
  background-color: @gray-darker;
  color: @white;

  &.even {
    .preview-container {
      .pull-left;
    }
  }
}

.experience-text-content {
  display: table;
  padding: 0 40px;
  width: 50%;
  height: 100%;
}

.experience-text-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.experience-container { background-image: url(/img/burried.png); }
.waterlux-experience { background-image: none; }
.wanderable-experience .preview-container { background-image: url(/img/enigma/wanderable-desktop-lg.png); }
.cusec-experience .preview-container { background-image: url(/img/enigma/cusec-desktop-lg.png); }
.indochino-experience .preview-container { background-image: url(/img/enigma/indochino-desktop-lg.png); }
.mathnews-experience .preview-container { background-image: url(/img/enigma/mathnews-desktop-lg.png); }
.velocity-experience .preview-container { background-image: url(/img/enigma/velocity-desktop-lg.png); }

/*
.wanderable-experience { background-color: #047878; background-image: none;}
.cusec-experience { background-color: #174f5e; background-image: none;}
.indochino-experience { background-color: #4a3141; background-image: none;}
.mathnews-experience { background-color: #58092c; background-image: none;}
.velocity-experience { background-color: #144553; background-image: none;}
*/

.mathnews-experience {
  .preview-container {
    background-position: 0 center;
  }
}

.preview-container {
  padding: 0;
  height: 100%;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  //background-position: 50% top;
}

// timeline
.timeline-container {
  position: absolute;
  height: 100%;
  width: 5px;
  margin-left: 60px;
  background: @gray-lighter;
}

.timeline-marker {
  height: 20px;
  width: 20px;
  border: 3px solid @brand-secondary;
  border-radius: 50%;
  margin-left: -8px;
  margin-top: 15px;
  background: @gray-lighter;
}

// footer
.site-footer {
  background: @black;
  padding: 20px 0 10px 0;
}