          <section class="portfolio-item clearfix delaunay">
            <p class="item-title">Partial Reproduction - Tour Eiffel, Robert Delaunay</p>
            <p class="item-desc">Acrylic on Canvas, 24" x 18"</p>

            <img class="item-img" src="/img/enigma/delaunay-1.jpg" alt="Reproduction of Tour Eiffel">

            <div class="col col-1">
              <img class="item-img" src="/img/enigma/delaunay-2.jpg" alt="Reproduction of Tour Eiffel, in progress">
              <p class="item-desc">Progress shots</p>
            </div>

            <div class="col col-2">
              <img class="item-img" src="/img/enigma/delaunay-3.jpg" alt="Reproduction of Tour Eiffel, in progress">
            </div>
          </section>