          <section class="portfolio-item clearfix hardedge">
            <p class="item-title">Hard Edge Painting - Penrose Triangles</p>
            <p class="item-desc">Acrylic on Masonite Wood Panel</p>

            <img class="item-img" src="/img/enigma/hardedge-1.jpg" alt="Hard Edge Painting - Penrose Triangles">

            <div class="col col-1">
              <img class="item-img" src="/img/enigma/hardedge-2.jpg" alt="Hard Edge Painting - Studies">
              <p class="item-title">Experimental Studies</p>
              <p class="item-desc">Acrylic on Terraskin</p>
            </div>

            <div class="col col-2">
              <img class="item-img" src="/img/enigma/hardedge-3.jpg" alt="Hard Edge Painting - Detail">
              <p class="item-desc">Side Detail</p>
            </div>
          </section>