          <section class="portfolio-item clearfix harris">
            <p class="item-title">Reproduction - Untitled Mountain Scene, Lawren Harris</p>
            <p class="item-desc">Acrylic on Masonite Wood Panel, 18" x 16"</p>

            <img class="item-img" src="/img/enigma/harris-1.jpg" alt="Reproduction of Untitled Mountain Scene, Lawren Harris">

            <!-- TODO slideshow -->
            <img class="item-img" src="/img/enigma/harris-2.jpg" alt="Progress slideshow">
            <p class="item-desc">Progress Slideshow</p>
          </section>
