<header class="site-header header-bg parallax-scroll">

  <div class="header-content container-fluid text-center">

    <div class="header-content-wrapper">
      <a class="" href="{{ site.baseurl }}/" title="{{ site.title }}">
        <h1 class="site-title center-block">
          {{ site.title }}
        </h1>
      </a>
      <h4>4th year Computer Science student, minoring in Fine Arts Studio at the University of Waterloo</h4>

      <hr class="hr-decorative">
      <h2>Design and Development</h2>

    </div>

  </div>

</header>
