<header class="site-header header-bg parallax-scroll">

  <div class="header-content container-fluid text-center">

    <div class="header-content-wrapper">
      <a class="" href="{{ site.url }}/" title="{{ site.title }}">
        <h1 class="site-title center-block">
          {{ site.title }}
        </h1>
      </a>
      <h4>4th year Computer Science student, minoring in Fine Arts Studio at the University of Waterloo</h4>

      <hr class="hr-decorative">
      <h2>Design and Development</h2>

      <div class="social-icons text-center clearfix">
        <a href="http://www.twitter.com/xeniatay" title="Twitter" class="social-icon-link">
          <span class="social-icon-wrapper social-twitter">
            <i class="fa fa-twitter fa-5x social-icon social-twitter"></i>
          </span>
        </a>
        <a href="http://xeniatay.com/resume" title="Resume" class="social-icon-link">
          <span class="social-icon-wrapper social-resume">
            <i class="fa fa-file-text fa-4x social-icon social-resume"></i>
          </span>
        </a>
        <a href="http://www.github.com/xeniatay" title="Github" class="social-icon-link">
          <span class="social-icon-wrapper social-github">
            <i class="fa fa-github fa-5x social-icon social-github"></i>
          </span>
        </a>
        <a href="http://ca.linkedin.com/in/xeniatay/" title="LinkedIn" class="social-icon-link">
          <span class="social-icon-wrapper social-linkedin">
            <i class="fa fa-linkedin fa-5x social-icon social-linkedin"></i>
          </span>
        </a>
        <a href="mailto:tay.xenia@gmail.com" title="Email" class="social-icon-link">
          <span class="social-icon-wrapper social-email">
            <i class="fa fa-envelope fa-4x social-icon social-email"></i>
          </span>
        </a>
      </div>
    </div>

  </div>

</header>
