<div id="sidebar" class="main-sidebar clearfix">
  <div class="sidebar-content clearfix">
    <h1 class='xenia-tay'>
      <span class="dropcaps">X</span>enia
      <br>
      <span class="dropcaps">T</span>ay
    </h1>

    <section class="about">
      <p class="about-title">Front End Developer</p>

      <div class="about-details-wrapper">
        <p class="about-details">University of Waterloo</p>
        <p class="about-details">Computer Science</p>
        <p class="about-details">Fine Arts Studio Minor</p>
      </div>
    </section>

    <nav class="about-links">
      <p><a href="#portfolio">Portfolio</a></p>
      <p><a href="#resume">Resume</a></p>
    </nav>
  </div>
</div>